* {
  margin: 0;
  padding: 0
}

body {
  background-color: rgba(36, 36, 37, 0.87);
  min-height: 100vh;
}

.modal {
  display: block;
  text-align: center;
  width: 450px;
  background-color: white;
  padding: 20px;
  height: 600px;
  box-sizing: border-box;
}

.backgroundModal-active {
  height: 100vh;
  background-color: rgba(68, 67, 74, 0.87);
}